[Unit]
Description=Atomik OS — Relabel SELinux path libvirt
DefaultDependencies=no
After=local-fs.target
Before=sockets.target shutdown.target
Conflicts=shutdown.target
ConditionPathExists=!/var/lib/atomik-libvirt-relabel-done
ConditionSecurity=selinux

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/atomik-libvirt-relabel
ExecStartPost=/usr/bin/touch /var/lib/atomik-libvirt-relabel-done

[Install]
WantedBy=sysinit.target
